---
import Card from '../Card.astro'
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-6" title="About me">
  <div class="flex flex-col gap-2">
    <p class="text-sm font-light">
      Hi, I'm Mazen, a website developer from Egypt.𓂀𓂀
      <br />
      <br />
      My primary Languages of choice includes:
      <ul class="list-inside list-disc">
        <li>Python</li>
        <li>JavaScript</li>
        <li>React</li>
        <li>Astro</li>
        <li>C++</li>
        <li>Php</li>
        <p class="text-sm font-light">My primary tools of choice includes:</p>      
        <li>Nodejs</li>
        <li >Mongo</li>
        <li >Canva</li>
        <li>SQL</li>
        </ul>
      </ul>
    </p>
    <p class="text-sm font-light">
      Beyond coding, I'm passionate about Ai technilogy, traveling and Drawing. An
      unusual hobby of mine is play music on guitar.🎸
    </p>
  </div>
</Card>
